
<table class="front" summary="For signed-in users">
  <tr>
    <td class="main">
      <h1 class="event">Subscribe an Event</h1>
      <%= render 'shared/event_form' %>

		
    </td>
    <td class="sidebar round">
      <%= render 'shared/user_info' %>
    </td>
  </tr>
</table>