
	<h1>About Us</h1>
	<p>
	  TimeLine is a website that intends to provide the general public, especially students in Waterloo with alternatives in finding
	  free and cheap food deals.
	</p>
	<p>
	  The company was founded in 2011 by Joonha Shin and Pativet Sathiensamrit (Light) while they were students in the Management Engineering class at the University of Waterloo.
	</p>
